%pin-body-shared{
    background: white;
    border-radius: 16px;
    width: 100%;
    margin-top: 30px;
    padding: 20px;
}
%pin-title{
    margin-top: 20px;
    font-size: 40px;
    color: black;
}
%pin-dsc{
    margin-top: 20px;
    font-size: 18px;
}